<div class="table-wrap scrollbox">
    <table class="table">
        <caption><strong>납부 유형</strong><span>구분, 내용, 비고로 구분되는 납부 유형을 보여주는 표</span></caption>
        <colgroup>
            <col width="33.33%">
            <col width="33.33%">
            <col width="*">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">내용</th>
                <th scope="col">비고</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>일시납부</td>
                <td>최종 산정 등록금액 일시납</td>
                <td>-</td>
            </tr>
            <tr>
                <td>분할납부</td>
                <td>분납신청자에 한해 2회/4회/6회 분할납부 (단, UNIST 장학생의 경우에만 6회 분납 가능)</td>
                <td>분할납부 신청 시 학자금대출은 실행 불가 신청기간 별도 안내</td>
            </tr>
            <tr>
                <td>0원 등록</td>
                <td>전액 사전감면 수혜자 정규 및 추가등록기간에 &rsquo;0원 등록신청&rsquo;진행</td>
                <td>미진행시 미등록 처리</td>
            </tr>
        </tbody>
    </table>
</div>