/*table*/
.table-wrap{overflow:hidden;}
.table{width:calc(100% + 1px);table-layout:fixed;border-spacing:0;border-collapse:unset;}
.table thead th{padding: 18px 20px;border: 1px solid #DDDDDD;border-bottom: 2px solid #001B54;border-left: 0;background-color: #F4F4F4;font-weight: 600;font-size: 16px;color: #111111;line-height: 100%;text-align:center;word-wrap:break-word;box-sizing: border-box;}
.table thead th.th-left{text-align:left !important;}
.table thead th.no-bottom {border-bottom: 0!important;}
.table.pad thead th {padding: 15px 10px;font-size: 15px;}

.table tbody th{padding:18px 20px;border-right: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;background-color: #F8F8F8;font-weight: 600;font-size: 16px;color: #000000;line-height: 130%;text-align:center;letter-spacing:-0.5px;word-wrap:break-word;} 
.table tbody th a:hover{text-decoration:underline;}
.table tbody th.th-left{text-align:left !important;}
.table tbody td{padding:18px 20px;border-right:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;font-weight: 500;font-size:15px;color: #333333;line-height: 150%;text-align:center;word-break: break-word;}
.table.pad tbody td {padding: 15px;}
.table tbody td a {color: #333333;}
.table tbody td.td-left{text-align:left !important;}
.table tbody td.td-flex {display:flex;justify-content:center;padding: 20px;} 
.table tbody td.td-bg{background-color:#f3f7f4;}
.table tbody td.td-bg-gray{background-color:#efefef;}
.table tbody td.td-top{vertical-align:top;}
.table tbody td.no-right{border-right:none}
.table tbody td > a.details {font-weight: 600;font-size: 14px;line-height: 130%;letter-spacing: 0;text-align: center;text-decoration: underline;text-decoration-style: solid;text-underline-offset: 2px;text-decoration-thickness: 0%;text-decoration-skip-ink: auto;color: #004BAE;position: relative;display: flex;align-items :center;justify-content :center;gap: 3px;}
.table tbody td > a.details:after {content: "";display: inline-block;background: url(/_res/unist/admission/img/common/ico-btn-table.png)no-repeat;width: 11px;height: 10px;}

.table tbody td .ul-type-dot > li {color: #333333;font-size: 15px;line-height: 140%;padding: 0 0 0 10px;}
.table tbody td .ul-type-dot > li:before{top: 7px;}
.table thead th.no-right{border-right:none}
.table thead th:last-child{border-right:none !important}
.table tbody td:last-child{border-right:none !important}
.table thead th.yes-right{border-right:1px solid #DDDDDD !important;}
.table tbody th.yes-right{border-right:1px solid #DDDDDD !important;}
.table tbody td.yes-right{border-right:1px solid #DDDDDD !important;}
.table tbody td.yes-bottom{border-bottom:1px solid #bbbbbb !important;}

.table tbody td .mark {display: block;font-size: 15px;line-height: 25px;color: #c8005f;font-weight: 600;}
.table tbody td > a.link-table {position: relative;background: #fff;color: #0072bb;border: 1px solid #0072bb;padding: 10px 35px 10px 19px;font-size: 15px;font-weight: 700;line-height: 24px;border-radius: 27.5px;
	letter-spacing: -0.25px;transition: all .3s;max-height: 40px;}
.table tbody td > a.link-table:hover {color: #fff;background: #0072bb;}
.table tbody td > a.link-table:hover::after {background: url(../img/common/ico-link-top.png);background-repeat: no-repeat;background-size: auto;background-position: center;}
.table tbody td > a.link-table.down:hover::after {background: url(../img/common/ico-table-down-w.png);background-repeat: no-repeat;background-size: auto;background-position: center;}
.table tbody td > a.link-table::after{content:'';display:inline-block;width:12px;height:12px;vertical-align: text-bottom;right: 15px;top: 50%;transform: translateY(-50%);position: absolute;
	background: url(../img/common/ico-table-link.png);background-repeat: no-repeat;background-size: auto;background-position: center;}
.table tbody td > a.link-table.down::after{width:14px;height:14px;background: url(../img/common/ico-table-down.png);background-repeat: no-repeat;background-size: auto;background-position: center;}


.table:not(:has(thead)) tbody tr:first-child td {border-top: 2px solid #001B54;}
.table:not(:has(thead)) tbody tr:first-child th {border-top: 2px solid #001B54;}
.table-wrap::-webkit-scrollbar {height: 6px;width: 6px;background-color: transparent;}
.table-wrap::-webkit-scrollbar-track {border-radius: 10px;background-color: transparent;}
.table-wrap::-webkit-scrollbar-thumb {background-color: #001b54;border-radius:50px}


.table tbody td span.best{font-size: 15px;line-height: 25px;font-weight: 600;color: #fff;background: #003e65;border-radius: 19px;padding: 7px;margin: 0 7px 0 0;}
.table tbody tr.pos td{background: #fcf2f7;color: #c8005f;font-weight: 700;}
/* scrollbox */
.msg-touch-help {display:none;}

@media screen and (max-width:768px) {
	.table thead th{padding: 10px 5px;font-size:14px;line-height: 20px;}
	.table tbody th{padding:7px;font-size:14px;line-height:22px;}
	.table tbody td{padding: 10px;font-size:14px;line-height: 20px;}
	.table.pad tbody td {padding: 10px;}

	.table tfoot td{padding:10px;font-size:15px;line-height:23px;}

	/* scrollbox */
	.scrollbox{position:relative;width:100%;overflow-x:auto;overflow-y:hidden;padding-bottom: 2px;}	
	.scrollbox .table{width:800px;}
	.scrollbox .table.pad {width: 1500px;}
	.scrollbox .table table{width:100%;}
	.msg-touch-help {display:block;position:absolute;top:30px;left:50%;margin:0 0 0 -35px;width:70px;height:70px;}
	.msg-touch-help img {width:100%;}
	
	.table tbody td .ul-type-dot > li {font-size: 14px;line-height: 140%;}
}